
/* GENERAL */
body {
    font-family: 'Roboto', Calibri, Helvetica, sans-serif;
    background-color: dimgray;
    color: #222;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: beige;
    position: relative;
    top: 20px;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* HEADINGS */
h1, h2, h3 {
    font-family: 'Patua One', serif;
    padding: 5px 3px 0 3px;
    color: black;
    margin-bottom: 10px;
}

h1 {
    font-size: x-large;
    display: inline-block;
    border-bottom: black 3px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    margin-bottom: 20px;
}

h2 {
    font-size: larger;
    font-style: italic;
}

h3 { font-size: large; }
